[v-cloak] {
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana;
}

#tuner_status {
    border: 3px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
